<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default"/>
        <add name="DefaultTrace" type="System.Diagnostics.TextWriterTraceListener"
             initializeData="D:\Prem\Personel\C#\Code\SoloLearn\TraceDemo\bin\Debug\SystemTraceWriter.log"/> 
        <add name="RollingTrace" type="TraceDemo.RollingTraceListener, TraceDemo"
             initializeData="D:\Prem\Personel\C#\Code\SoloLearn\TraceDemo\bin\Debug\RollingTraceWriter.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>